# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
/data/external/**/
/data/interim/**/
/data/processed/**/
/data/raw/**/
